@import url("https://fonts.googleapis.com/css2?family=Jacques+Francois&family=Jacques+Francois+Shadow&family=Lato&family=Roboto:ital@1&display=swap");

:root {
  --fonts: "Jacques Francois", serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgba(7, 7, 7, 0.893);
  backdrop-filter: blur(175px);
  offset: none;
  scroll-behavior: smooth;
}
body {
  background: rgba(7, 7, 7, 0.893);
  backdrop-filter: blur(175px);
}
/* logo */
.header-logo {
  display: flex;
  flex-direction: column;
}
.social {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  padding-left: 90vw;
}
.social i {
  color: #aaaaaa;
  width: 1.875vw;
  height: 1.9vh;

  padding: 0.81vw 0.61vh;
}
.social i:hover {
  color: purple;
  cursor: pointer;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: -1rem;
}
.logo img {
  border-radius: 9.21875rem;
  width: 8rem;
  height: 8rem;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.name h1 {
  color: rgba(240, 234, 225, 0.829);
  font-family: var(--fonts);
  font-size: 2.85vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  width: 38vw;
  height: 8vh;
}
.name h2 {
  color: rgba(240, 234, 225, 0.829);
  font-family: var(--fonts);
  font-size: 2.85vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  width: 38vw;
  height: 8vh;
}
a {
  text-decoration: none;
}
/* nav bar*/

hr {
  margin-top: 1vh;
  opacity: 0.2;
}
nav {
  display: flex;
  justify-content: center;
}
ul {
  display: inline;
  text-align: center;
  list-style-type: none;
  width: 100%;
}

nav ul li {
  text-decoration: none;
  display: inline;
  font-family: var(--fonts);
  font-size: 20px;
  background: transparent;
  font-weight: 400;
  line-height: 3.877vh;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(253, 242, 221, 0.95);
  padding-left: 5vw;
  padding-right: 2vw;
}

ul li:hover {
  cursor: pointer;
  color: purple;
  font-weight: bold;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
.container img {
  opacity: 0.2;
  width: 49vw;
  height: 55vh;
  border-radius: 155px 0px 155px 0px;
  box-shadow: 5px 4px 4px 2px rgba(241, 240, 238, 0.557);
  border: solid 2px rgb(35, 32, 27);
}
.container p {
  position: absolute;
  width: 40%;
  left: 50%;
  top: 200px;
  font-family: var(--fonts);
  font-size: 16px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  line-height: 30px;
  z-index: -1;
  opacity: 1;
  text-align: justify;
  transform: translate(-50%, -50%);
}
footer {
  padding: 20px;
}
footer h5 {
  color: wheat;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer h6 {
  color: wheat;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  display: none;
  position: fixed;
  width: 40vw;
  height: 80vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 9px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 199;
  transition: all 0.6s ease-in-out;
}

#closePopup {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 50px;
  z-index: 1;
  background: transparent;
  transition: all 0.6s ease-in-out;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  background: transparent;
  transition: all 0.6s ease-in-out;
}
.contact h2 {
  width: 16.6vw;
  height: 6.7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50px;
  color: white;
}
.platform {
  margin: 20px;
  width: 22vw;
  height: 53vh;
  top: 159px;
  left: 226px;
  border-radius: 15px;
  background: rgba(217, 217, 217, 1);
  gap: 10%;
  display: inline;
  transition: all 0.6s ease-in-out;
}
.media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8vh;
  flex-direction: row;
  background-color: transparent;
  left: 50%;
}
.media i {
  background: transparent;
  font-size: 1.2vw;
}
.media h3 {
  background: transparent;
  width: 10vw;
  left: 50%;
  font-weight: 999;
  font-family: var(--fonts);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.platform a {
  color: #000;
}

.platform a:hover {
  color: purple;
  transition: all 0.6s ease-in-out;
}


.spinner-container {
  position: relative;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #ffffff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 4s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
