.namebox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10%;
  padding-top: 30px;
}

.members {
  width: 26.3vw;
  aspect-ratio:1/1;
  height: 21vh;
  margin-bottom: 1vh;
  border-radius: 60px;
  background: transparent;
  display: flex;
  border: 3px rgba(245, 222, 179, 0.658) solid;
  box-shadow:3px 3px 3px 3px rgba(236, 233, 230, 0.527);
  flex-direction: row;
  justify-content: left;
  padding: 10px;
  margin: 10px;
  align-items: center;
  gap: 20px;
  cursor: pointer
}
.members p {
  width: 34.6vw;
  height: 12vh;
  top: 53vh;
  left: 1px;
  display: block;
  justify-content: left;
  align-items: left;
  font-family: var(--fonts);
  color: whitesmoke;
  font-size: 1.6vw;
  font-weight: 400;
  line-height: 2.6vw;
  letter-spacing: 0em;
  text-align: center;
  background: transparent;
  border-radius: 40px;
}
.members img {
  width: 20.12vw;
  aspect-ratio: 1/1;
  height: 19vh;
  left: 4.2vw;
  background: transparent;
  border-radius: 50%;
}
.members span {
  font-family: var(--fonts);
  color: whitesmoke;
  font-size: 1vw;
  font-weight: 400;
  line-height: 2.6vw;
  letter-spacing: 0em;
  background-color: transparent;
}

#huge {
  font-size: 1.302vw;
}
/*Blog Page */
.superblog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10%;

  padding-top: 40px;
}
.blogdiv img {
  width: 25vw;
  height: 32vh;
  opacity: 0.3;
  top: 260px;
  left: 239px;
  border-radius: 50px 175px 50px 50px;
  padding: 10px;
  box-shadow: 8px 8px 8px 0px rgba(170, 170, 170, 1);
}
.followus img {
  width: 26vw;
  height: 30vh;
  top: 270px;
  left: 239px;
  opacity: 5;
  border-radius: 50px 175px 50px 50px;
  padding: 20px;
  box-shadow: 8px 8px 8px 0px rgba(170, 170, 170, 1);
}

.blogdiv p {
  position: absolute;
  width: 20vw;
  height: 20vh;
  left: 50%;
  top: 130px;
  font-family: var(--fonts);
  font-size: 20px;
  font-weight: 400;
  color: rgb(254, 254, 254);
  line-height: 20vh;
  z-index: -1;
  background: transparent;
  text-align: center;

  border-radius: 50px 175px 50px 50px;
  transform: translate(-50%, -50%);
}

/* magazine page*/
.magazine{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*event page */
.superevent{
  transition: all 0.6s ease-in-out; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10%;

  padding-top: 40px;

}
.eventdiv img{
  width: 25vw;
  height: 35vh;
  opacity: 0.4;
  top: 260px;
  left: 239px;
  border-radius: 50px 50px 40px 40px;
  padding: 10px;
  box-shadow: 8px 8px 8px 0px wheat;
}
.normal{
  position: absolute;
  width: 22vw;
  height: 20vh;
  left: 50%;
  top: 130px;
  font-family: var(--fonts);
  font-size: 4vw;
  font-weight: 400;
  color:whitesmoke;
  line-height: 20vh;
  opacity: 5;
  background: transparent;
  text-align: center;
z-index: -1;
  border-radius: 40px 40px 40px 40px;
  transform: translate(-50%, -50%);
  
}
.big{
  position: absolute;
  width: 22vw;
  height: 20vh;
  left: 50%;
  top: 130px;
  font-family: var(--fonts);
  font-size: 3vw;
  font-weight: 400;
  color:whitesmoke;
  line-height: 20vh;
  opacity: 5;
  background: transparent;
  text-align: center;
z-index: -1;
  border-radius: 40px 40px 40px 40px;
  transform: translate(-50%, -50%);
}